
    <ul class="p-4  flex justify-between flex-wrap ">
        <div class="flex  ">
            <li class="mr-3">
                <h4 class="inline-block border border-white rounded hover:border-gray-200  font-semibold text-xl hover:bg-gray-200 py-1 px-3" [routerLink] = "['/google.org']">
                  
                  <font color="#FF2626">G</font>
                  <font color="#252A34">o</font>
                  <font color="#753422">o</font>
                  <font color="#FFD523">g</font>
                  <font color="#71EFA3">l</font>
                  <font color="#0F52BA">e</font>
                  <font color="#66CC66">.</font>
                  <font color="#FF9966">o</font>
                  <font color="#FFCCCC">r</font>
                  <font color="#00C1D4">g</font>
                  
              </h4>
              </li>
                <!-- <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
            <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div> -->
             <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-lg lg:flex lg:flex-grow">
                        <li class="mr-3">
                         <a class="text-lg inline-block border border-white rounded hover:border-gray-200 text-gray-600 font-medium hover:text-black hover:bg-gray-200 py-1 px-3" href="/covid-19">COVID-19</a>
                        </li>
                        <li class="mr-3">
                          <a class="text-lg inline-block border border-white rounded hover:border-gray-200 text-gray-600 font-medium hover:text-black hover:bg-gray-200 py-1 px-3" href="/my-work">My work</a>
                        </li>
                        <li class="mr-3">
                          <a class="text-lg inline-block border border-white rounded hover:border-gray-200 text-gray-600 font-medium hover:text-black hover:bg-gray-200 py-1 px-3" href="/my-approach">My approach</a>
                        </li>
                        <li class="mr-3">
                          <a class="text-lg inline-block border border-white rounded hover:border-gray-200 text-gray-600 font-medium hover:text-black hover:bg-gray-200 py-1 px-3" href="/opportunities" >Line Chart</a>
                        </li>
                        <li class="mr-3">
                          <a class="text-lg inline-block border border-white rounded hover:border-gray-200 text-gray-600 font-medium hover:text-black hover:bg-gray-200 py-1 px-3" href="/latest">Latest</a>
                      </li>
                      <li class="mr-3">
                        <a class="text-lg inline-block border border-white rounded hover:border-gray-200 text-gray-600 font-medium hover:text-black hover:bg-gray-200 py-1 px-3" href="/stacked-bar-graph">Stacked Bar Graph</a>
                    </li>
                </div>
             </div>
        </div>
        <!-- <div>
            <input
      type="search"
      class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
      
      placeholder="Search"
    />
        </div> -->
    </ul>

<!-- 
    <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
        <div class="flex items-center flex-no-shrink text-white mr-6">
            <h4 class="inline-block border border-white rounded hover:border-gray-200  font-semibold text-xl hover:bg-gray-200 py-1 px-3" [routerLink] = "['/google.org']">
                  
                <font color="#FF2626">G</font>
                <font color="#252A34">o</font>
                <font color="#753422">o</font>
                <font color="#FFD523">g</font>
                <font color="#71EFA3">l</font>
                <font color="#0F52BA">e</font>
                <font color="#66CC66">.</font>
                <font color="#FF9966">o</font>
                <font color="#FFCCCC">r</font>
                <font color="#00C1D4">g</font>
                
            </h4>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
            <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>COVID-19</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
                My work
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
                My approach
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white">
                Opportunities
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white">
                Latest
            </a>
          </div>
          <div>
            <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal hover:bg-white mt-4 lg:mt-0">Download</a>
          </div>
        </div>
      </nav> -->