
<app-header></app-header>
     
<div class="lg:py-32"> 


  <div class="text-center mx-7 py-40 ">
    <h1 class="text-base text-gray-600">OUR MISSION</h1>
    <p class="text-xl font-light lg:font-normal lg:text-2xl font-sans lg:pt-5 lg:mx-64 ">We bring the best of Google to help solve some of humanity’s biggest challenges — combining funding, innovation, and technical expertise to support underserved communities and provide opportunity for everyone.</p>
  </div>
  
  <div class="lg:grid lg:grid-cols-3  lg:px-14">
  <div class=" p-10 sm:my-32">
      <div class="  hover:scale-100 lg:mt-20 lg:mx-20 "><img  src="https://lh3.googleusercontent.com/RCwBAraGY4jA0xxsRhQE6mrZ5Zqj3WKroyW_cyNRZxMru45uOScon1On_Xx8TC2ioYA5UfeCVP3sxgE7Ie9IBEgMmuTrGIXpH50Vh8SEjXzEaYq_Xw=w400-h560-n-l80-sg-rj" alt="image" class="hover:scale-100"></div>
      <div class="mt-5 lg:mx-5 lg:my-6 lg:text-center font-medium text-lg ">$100 million Google Career Certificates Fund</div>
      <div class=" mt-2 lg:text-center text-gray-600  "> The $100 million fund to Social Finance has a goal to reach more than 20,000 American workers,with the potential to drive $1 billion in wage gains.</div> 
      <div class=" mt-2 lg:mt-4 lg:text-center  text-sm text-gray-500 font-light">March 17, 2022</div>
  </div>
  <div class="p-10 lg:px-10 sm:my-32">
      <div class="lg:m-8"><img  src="https://lh3.googleusercontent.com/6KBAdWDoqdB1SmRMcYg_lnmAEgtkdw4QSUJKKaOZpJw_kkQpTyvqgC0V1elB3KWqGzDK3Mz49h1ORXYKtI7nAnpKaen0_ALM6tqZBZs5zfP41Dxws9M=w544-h760-n-l80-sg-rj" alt="image"></div>
      <div class="mt-5 lg:text-center font-medium text-lg ">Helping Ukraine</div>
      <div class="mt-2 lg:mx-5 lg:my-6 lg:text-center text-gray-600 "> The $100 million fund to Social Finance has a goal to reach more than 20,000 American workers,with the potential to drive $1 billion in wage gains.</div> 
      <div class="mt-2 lg:mt-4 lg:text-center  text-sm text-gray-500 font-light">March 17, 2022</div>
  </div>
  <div class="p-10 sm:my-32">
      <div class="lg:mt-20 lg:mx-20"><img  src="https://lh3.googleusercontent.com/JKPacaCe3pVoBeFXUQusYoplHdoFISY8WEpP_GwWviOxgiQQljR0R3IXbqWUI_ZDV8urpzaNCbavT2iF2NXS4QsIpdIeibrWbPbE6_9xfa4V-bSHMiU=w400-h560-n-l80-sg-rj" alt="image"></div>
      <div class="mt-5 lg:text-center font-medium text-lg ">Supporting NDIA build digital inclusion in rural & Tribal communities  </div>
      <div class="mt-2 lg:mx-5 lg:my-6 lg:text-center text-gray-600  "> The $100 million fund to Social Finance has a goal to reach more than 20,000 American workers,with the potential to drive $1 billion in wage gains.</div> 
      <div class="mt-2 lg:mt-4 lg:text-center  text-sm text-gray-500 font-light">March 17, 2022</div>
  </div>
  </div>
  
  <div class="lg:grid lg:grid-cols-3 bg-gray-100 my-20 px-5 py-24 lg:p-24 lg:mt-20">
      <div class="lg:p-9 lg:pt-56">
          <div class="text-center text-blue-600 lg:font-medium lg:text-5xl text-3xl font-normal">Taking action</div>
          <div class=" text-center text-xl sm:text-xl sm:font-normal  mt-7">These challenges will require long-term investments of time and effort. We are committed to being a part of the solution.</div>
      </div>
      <div class="col-span-2  lg:px-7 lg:m-20">
       <div class="text-center">
           <div class="lg:text-2xl text-xl text-gray-500 lg:font-light font-normal mb-4">$40 million and 50,000 pro bono hours committed to racial justice</div>
           <div class="text-base font-light text-gray-600 mb-3 lg:pt-5">Since 2015, we’ve given $40 million in funding to organizations that use data science and innovative new approaches to advance racial justice.</div>
           <div class=" lg:pt-5 text-blue-600 mt-2 mb-7"> <button class="bg-white hover:bg-gray-100 text-blue-500 font-medium hover:text-blue-800 py-3 px-5 border border-gray-400 hover:border-blue-500 rounded">
              Learn more
            </button></div>
       </div>
       <div class="text-center lg:mt-32">
           <div class="lg:text-2xl text-xl text-gray-500 lg:font-light font-normal mb-4">$100 million and 50,000 pro bono hours committed to COVID-19</div>
           <div class=" lg:pt-5 lg:text-base lg:font-light text-xl font-normal text-gray-600 mb-3" >We’re supporting effective solutions throughout the course of this pandemic — from immediate relief to long term recovery and future preparedness.</div>
           <div class=" lg:pt-5 text-blue-600 mt-2  "> <button class="bg-white hover:bg-gray-100 text-blue-500 font-medium hover:text-blue-800 py-3 px-5 border border-gray-400 hover:border-blue-500 rounded">Learn more</button></div>
       </div>
      </div>
  </div>
  
  <div class="lg:px-48 lg:py-32 h-full"><img src="https://lh3.googleusercontent.com/zxBrHz0M10wEezR_xEwbtdM6eCD7jc9zgpGWIoaudlm_-Dyd6iCMa--qOQHlmYQSxFT9FEHphr84LFN_poU_X88oJ61yjGvNFeQUrAQ=w1984-h800-n-l80-sg-rj" alt=""></div>
  
  <div class="py-24 px-7">
    <div class="text-center text-gray-600 text-base font-medium">OUR APPROACH</div>
    <div class="text-center  lg:text-3xl  lg:font-light font-normal text-xl mt-6 mb-9 lg:mx-64">We connect innovative nonprofits and social enterprises with Google’s resources to accelerate their impact.</div>
    <div class="text-center lg:m-10 lg:mb-20 " [routerLink]="['/google.org/my-approach']"><button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-7 rounded" >
        View our approach
      </button></div>
  </div>
</div>