<app-header></app-header>

<div class="p-56 mx-24 text-center font-normal text-4xl">We know that the best answers often come from those closest to the problem.</div>

<div class="grid grid-cols-2 px-5">
    <div class=" py-20 pl-36 pr-11">
        <div><img  class=" rounded-lg" src="https://lh3.googleusercontent.com/rGo93t7noObTC6GD8OkFCdHSASN-4ebjlT5jWKbetTizAEibNLWOjRBuqXsoiADqKbhT42SElXy1iOPqQMxuhTbOQ-3wf5GdKfwV-g=w832-h552-n-l80-sg-rj" alt=""></div>
        <div class="pt-8 text-3xl font-light">We look for big ideas</div>
        <div class="pt-8 text-gray-500 font-light ">We believe big things can happen when you don’t shy away from big ideas. We look for nonprofits, social enterprises, and civic entities who understand the needs of marginalized and vulnerable populations and are working to address inequities at scale.</div>
    </div>
    <div class="pb-20 pt-52 pr-36 pl-11">
        <div><img class=" rounded-lg" src=" https://lh3.googleusercontent.com/ZJb1eUIbYjELxYqQAuoRmtOdKMT7V5M1iY4EFp2calQTQrZ22OBx1CQI0kgPN0d18hDu8VLzd5NFZa08gDGE-Z85UAtGEBta5NrT=w832-h552-n-l80-sg-rj" alt=""></div>
        <div class="pt-8 text-3xl font-light">We ask communities what they need</div>
        <div class="pt-8 text-gray-500 font-light ">At this time, we do not accept applications for support outside of our Google.org Impact Challenges. Each challenge is an invitation to nonprofits and social enterprises with ideas to make their communities, and beyond, a better place. Ideas with the most potential are given a package of support, which may include funding, mentorship, and technical support from Google volunteers.</div>
    </div>
</div>

<div class="text-center pt-20 text-gray-700">ACCELERATING IMPACT</div>
<div class=" px-24 py-5  text-center font-normal text-4xl">We provide support through a combination of funding, innovation and technical expertise.</div>

<div class="p-10 pt-24 grid grid-cols-3">
    <div class="p-10">
        <div><img  class=" rounded-lg" src="https://lh3.googleusercontent.com/jluZZf4WfOQYJptdXOwv9sz61YrLJHL2oNWzqSZ-cDgGoD-_IE2hPmjUCqmwGT2TnYKSC53U2UEjfeUvlYJsgXd0XNHGgl4p7toq=w544-h384-n-l80-sg-rj" alt=""></div>
        <div class="pt-8 text-3xl font-light">Funding</div>
        <div class="pt-8 text-gray-500 font-light ">Every year we grant $200 million to nonprofits and social enterprises across the globe. Our goal is to use our philanthropic capital to help stimulate innovative approaches to solving problems, and provide comprehensive support for marginalized communities.</div> 
    </div>
    <div class="p-10">
        <div><img  class=" rounded-lg" src="https://lh3.googleusercontent.com/KJC2uS0j4vAYuquqNfRzxR-WXFgtKtZmNPxDoZ48yswjEEi0uqw0R9S3pBNyaH4o_UaacV2ZCbN56qXjuXxzNXu3rc-MLfNSbf8S04M=w544-h384-n-l80-sg-rj" alt=""></div>
        <div class="pt-8 text-3xl font-light">Innovation</div>
        <div class="pt-8 text-gray-500 font-light ">The same technology that makes our lives easier every day can also help tackle complex social challenges. We make our research, open source technology and products accessible to nonprofits working on the front lines of social change.</div> 
    </div>
    <div class="p-10">
        <div><img  class=" rounded-lg" src="https://lh3.googleusercontent.com/Rmc6g6OXE0jNfqQt6Wiyb401cB3RNh0GiTr25309wC64R-VJTkxvQr8KNr2SmhScECJCNOgY64W7XeyhXEEXO7X2s4YY6wLL17Qong=w544-h384-n-l80-sg-rj" alt=""></div>
        <div class="pt-8 text-3xl font-light">Technical expertise</div>
        <div class="pt-8 text-gray-500 font-light ">We connect nonprofits and civic entities with Google employees who volunteer their own time or who provide pro bono services through the Google.org Fellowship for up to six months full time.

        </div> 
    </div>
</div>