<html class="scroll-smooth"></html>

<app-header></app-header>


<div class="lg:p-56 lg:mx-24 text-center lg:text-4xl text-2xl py-28 px-9">We focus our work on the areas where we can have the largest impact.</div>

<div class="lg:px-80 sticky top-4 z-10 px-3">
    <div class="flex justify-center lg:py-3  border border-gray-200 rounded-full shadow-md bg-white ">
        <a class="lg:px-5 pl-3 lg:text-lg hover:text-black "  (click)="OnClickScroll('Economic_empowerment')"  >Economic empowerment</a>
        <a class="lg:px-5 text-gray-500 lg:text-lg hover:text-black scroll-smooth" (click)="OnClickScroll('Technology_and_innovation')" >Technology and innovation</a>
        <a class="lg:px-5 text-gray-500 lg:text-lg hover:text-black pr-3" (click)="OnClickScroll('Learning')" >Learning</a>
        
    </div>
</div>

<section id="Economic_empowerment"  >

<div class="lg:p-7 lg:grid lg:grid-cols-2 p-5 " >
  
    <div class="lg:px-8 lg:py-24 pt-2">
        <div class="lg:pt-72 lg:pl-10 lg:text-4xl text-blue-900 pointer-events-none text-center text-xl" >Economic empowerment</div>
        <div class="lg:p-5  lg:px-10 lg:mr-7 lg:mt-11 text-lg pt-5 text-center px-3">We support digital skills training for job seekers, equitable access to capital, and small and medium businesses— particularly in underrepresented communities.</div>
    </div>
    <div class="lg:grid lg:grid-cols-2 mt-8 ">
        <div class="lg:px-7 lg:py-4 lg:mt-48 m-3 ">
           <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
               <img class="w-full" src="https://lh3.googleusercontent.com/Dugesl9ndjRHDOXLOkLLkwl1BK1k_C8gN7pkzDN8P8JtoAKesuE9yc8tGKM1-070V-nA7_DWnM_NJMWHDBdZdkk53LqSmgB_HJg7lw=w540-h540-n-l80-sg-rj" alt="">
               <div class="bg-gray-100">
                   <div class="lg:px-6 lg:py-4">
                       <div class=" lg:text-xl lg:mb-2">Helping Youth Business International support underserved small business-owners</div>
                     </div>
                     <div class="lg:px-6 lg:pt-1 lg:pb-5">
                       <span class="   lg:text-xs lg:font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                     </div>
               </div> 
             </div>
        </div>
        <div class="lg:grid lg:grid-rows-2 hidden md:block">
            <div class="lg:pr-7 lg:py-4">
               <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                   <img class="w-full" src="https://lh3.googleusercontent.com/ccHEI9_Qtv8EFnueGdgLH9IU7XZKiDHjwd5H4VV1jaZn0U7V97C9xWWLR1AfYORVvbWDfXM-MLWESxmH08h1DWpryt2Yjip41XIVpA=w540-h540-n-l80-sg-rj" alt="">
                   <div class="bg-gray-100">
                       <div class="lg:px-6 lg:py-4">
                           <div class=" lg:text-xl lg:mb-2">Providing direct cash transfers with GiveDirectly</div>
                         </div>
                         <div class="lg:px-6 lg:pt-1 lg:pb-5">
                           <span class="   text-xs font-medium text-gray-600  lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                         </div>
                   </div>
                 </div>
            </div>
            <div class=" lg:pr-7 lg:py-4 ">
               <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                   <img class="w-full" src="https://lh3.googleusercontent.com/JHmGmmbpwEb66eHYGsNtBsbKWbRpjWKx9OdnYXs1Ns6u1Bq1pSRowX2jBYD3tmX9OzspcrItrX_Hj3faQUquh-iDsjR4IxHgngdC=w540-h540-n-l80-sg-rj" alt="">
                   <div class="bg-gray-100">
                       <div class="lg:px-6 lg:py-4">
                           <div class=" text-xl lg:mb-2">Helping People prepare for new opportunities in IT</div>
                         </div>
                         <div class="lg:px-6 lg:pt-1 lg:pb-5">
                           <span class="   text-xs font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                         </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
</div>
</section>



<section id="Technology_and_innovation" >


<div class="lg:p-7 lg:grid lg:grid-cols-2" >

    <div class="lg:grid lg:grid-cols-2 ">
        <div class="lg:px-7 lg:py-4 lg:mt-48 ">
           <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
               <img class="w-full" src="https://lh3.googleusercontent.com/uKdSHoBGCODZIXydzJIw-nglUj0Tof3e4kw9Ktv7F2H09BZ4wfVoke28z2a7zOWw4rxYwA3__46JPLejOILvNot8jYAQZQ2f0ILMtg=w540-h540-n-l80-sg-rj" alt="">
               <div class="bg-gray-100">
                   <div class="lg:px-6 lg:py-4">
                       <div class=" text-xl lg:mb-2">Extending the reach of flood forecasting</div>
                     </div>
                     <div class="lg:px-6 lg:pt-1 lg:pb-5">
                       <span class="   text-xs font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                     </div>
               </div> 
             </div>
        </div>
        <div class="lg:grid lg:grid-rows-2 hidden md:block">
            <div class="lg:pr-7 lg:py-4">
               <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                   <img class="w-full" src="https://lh3.googleusercontent.com/U-zSQUPoGfK6UtyVQmM2d-n4PcON4-C7MIwxPeh-fNxnyuJRO-DtCZqoHDJCXtKXouqBEvnHS28SM7KmioM1cpE7n5SkSVomBwUgr_0=w540-h540-n-l80-sg-rj" alt="">
                   <div class="bg-gray-100">
                       <div class="lg:px-6 lg:py-4">
                           <div class=" text-xl lg:mb-2">Accelerating data-driven climate action</div>
                         </div>
                         <div class="lg:px-6 lg:pt-1 lg:pb-5">
                           <span class="   text-xs font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                         </div>
                   </div>
                 </div>
            </div>
            <div class=" lg:pr-7 lg:py-4 ">
               <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                   <img class="w-full" src="https://lh3.googleusercontent.com/V4cw4ZMytzEyWgsz_hC7jv0BNnq1Lj85U9kCVKxAoB0UIwAGz9Dz6tUw7ircfG3LNexcmoIAfz4bVveRIT2T2vgHgpqDREsa1p7YNg=w540-h540-n-l80-sg-rj" alt="">
                   <div class="bg-gray-100">
                       <div class="lg:px-6 lg:py-4">
                           <div class=" text-xl lg:mb-2">MSF is using AI to better diagnose infections</div>
                         </div>
                         <div class="lg:px-6 lg:pt-1 lg:pb-5">
                           <span class="   text-xs font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                         </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="lg:px-8 lg:py-24">
        <div class="lg:pt-72 lg:pl-10 text-4xl text-yellow-600">Technology and innovation</div>
        <div class="lg:p-5  lg:px-10 lg:mr-7 lg:mt-11 text-lg">We support organizations using technology to address societal and environmental challenges. We also empower third-party advocates to share the value, responsibility, and accessibility of AI and emerging technology.</div>
    </div>

</div>
</section>

<div class="lg:p-7 lg:grid lg:grid-cols-2" id="Learning">
    <div class="lg:px-8 lg:py-24">
        <div class="lg:pt-72 lg:pl-10 text-4xl text-green-600">Learning</div>
        <div class="lg:p-5  lg:px-10 lg:mr-7 lg:mt-11 text-lg">We support organizations that are supporting equitable access to quality learning materials, computer science education, and digital responsibility resources.</div>
    </div>
    <div class="lg:grid lg:grid-cols-2 ">
        <div class="lg:px-7 lg:py-4 lg:mt-48 ">
           <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
               <img class="w-full" src="https://lh3.googleusercontent.com/5pDSG8Xb0PstAu86rOWhRut_4FAJvG8wKcS3eUg1cELv3YfhDZPABl7LJwBva7qDLai-dMadQ0vDAqewjm2R36VkzpDMVy9OzjnBqg=w540-h540-n-l80-sg-rj" alt="">
               <div class="bg-gray-100">
                   <div class="lg:px-6 lg:py-4">
                       <div class=" text-xl lg:mb-2">Khan Acadamy is providing a free, wold class education for everyone.</div>
                     </div>
                     <div class="lg:px-6 lg:pt-1 lg:pb-5">
                       <span class="   text-xs font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                     </div>
               </div> 
             </div>
        </div>
        <div class="lg:grid lg:grid-rows-2 hidden md:block">
            <div class="lg:pr-7 lg:py-4">
               <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                   <img class="w-full" src="https://lh3.googleusercontent.com/m6n4aahCOtJSl_d_KOqYI1Xqr6tGsuxlLU2wQAWiMyl8-M60bsoKSEkgBQdqu2dw_pdQR-PttHSE0yq3rqkHjaBvSTmwF5H3O1UtjQ=w540-h540-n-l80-sg-rj" alt="">
                   <div class="bg-gray-100">
                       <div class="lg:px-6 lg:py-4">
                           <div class=" text-xl lg:mb-2">Helping Pratham Books increase children's access to reading material in their own language</div>
                         </div>
                         <div class="lg:px-6 lg:pt-1 lg:pb-5">
                           <span class="   text-xs font-medium text-gray-600 mr-2 mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                         </div>
                   </div>
                 </div>
            </div>
            <div class=" lg:pr-7 lg:py-4 ">
               <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                   <img class="w-full" src="https://lh3.googleusercontent.com/SLxTM_QT4bGcwoAFibpjpuz3LEHmJMl9I3hUzJ4Pzq83n7kjAZ4cGaLTHHCPJ6RM-qjpH_p6Zx9j5JHRXzW0whM74ioYT_K0l4yLHw=w540-h540-n-l80-sg-rj" alt="">
                   <div class="bg-gray-100">
                       <div class="lg:px-6 lg:py-4">
                           <div class=" text-xl lg:mb-2">Teaching people how to distinguish quality content online with Newswise</div>
                         </div>
                         <div class="lg:px-6 lg:pt-1 lg:pb-5">
                           <span class="   text-xs font-medium text-gray-600 lg:mr-2 lg:mb-2 hover:text-blue-600">EXPAND TO LEARN MORE</span>
                         </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center text-gray-600">OUR APPROACH</div>
<div class="text-center lg:mt-7 text-3xl lg:mx-64 font-light">We connect innovative nonprofits and social enterprises with Google’s resources to accelerate their impact.</div>
<div class="text-center lg:m-10 lg:mb-20" [routerLink]="['/google.org/my-approach']"><button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-7 rounded" 
    >
    View our approach
  </button></div>